.profile-image-socail-bar {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.profile-add-image-bar {
    width: 90%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: 700;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.profile-social-bar {
    width: 10%;
    display: grid;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
}

.profile-header {
    width: 100%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
}
.profile-location {
    width: calc(100%/3);
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-content: flex-start;
}

.profile-username {
    width: calc(100%/3);
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
}

.profile-edit {
    width: calc(100%/3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-detail-booms-fans-frens {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.profile-details {
    display: grid;
    font-size: 12px;
    font-weight: 600;
}
.profile-details-counts {
    font-size: 16px;
    font-weight: 900;
}

.socialmdial-color-blue {
    color: rgb(68, 138, 255);
}

.socialmdial-color-black {
    color: black;
}

