.icon-and-message-bar {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 800;
    gap: 10px;
    justify-content: space-between;
}

.boom-username {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 800;

}

.boom-location {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 5px;
}

.boom-gradiant-background {
    background: linear-gradient(to right, #26ebfd,#e2fe2e, #26ebfd, #e2fe2e);
}

.boom-border-radius {
    border-radius: 5px;
    border: 1px solid black;
}

.card-container {
    width: 25%;
    min-width: max-content;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.nft-name {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    
}

.nft-title {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 900;
}

.nft-comment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}

.notification-content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.notification-icon {
    color: #26ebfd;
}

.notification-timestamp {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
}

.view-more {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-end;
    font-weight: 500;
    color: rgba(68, 138, 255, 255);
}

.user-location {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}


@media (max-width:600px) {
    .card-container {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}