.booms-container {
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.notification-container {
    width: 100%;
}

.notification-title-area {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    font-size: 20px;
    padding: 20px 30px;
    justify-content: center;
}

.notification-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    overflow-y: auto;
    max-height: calc(100vh - 197px);
}

.footer-container {
    width: 100%;
    
    box-sizing: border-box;
    bottom: 0px;
    display: flex;
    gap: 150px;
    justify-content: space-between;
    padding: 20px;
    position: absolute;

}

.footer-iconpart {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.frontIcon-on-input {
    color: grey;
    position: absolute;
    top: 13px;
    left: 17px;

}

.headerbar-container {
    background: linear-gradient(to right, #e2fe2e, #26ebfd, #e2fe2e);

    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-iconbar {
    align-items: center;
    display: flex;
    gap: 20px;
}

.icon {
    cursor: pointer;
}

.selected-icon {
    color: #26ebfd;
}

.search-bar {
    width: 100%;
    position: relative;
}

.search-field {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    padding: 10px 10px 10px 50px;
}